# Build results
mnodetester/mnodetester

# Test directory
test

# Virtualenv
venv
# Python module
rpc_tester.egg-info

# Config
config.json

.idea/
reports/
testReport/
__pycache__

# Script
script/cn/data/block.rlp
script/cn/data/kcn
script/cn/data/kcnd.pid
script/cn/data/klay/LOCK
script/cn/data/klay/bls-nodekey
script/cn/data/klay/transactions.rlp
script/cn/data/klay/chaindata
script/cn/data/keystore/UTC--*
script/cn/bin/kcn
script/*.trace
script/*.profile
